<a href="https://colab.research.google.com/github/yot85/data-science-bootcamp/blob/main/02_pandas%5C02_dane_gieldowe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
def fetch_financial_data(company='AMZN'):
  '''Pobiera dane dotyczące notowań spółek na giełdzie według symboli 
  na serwisie stooq.pl'''
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2023-01-31 to 2018-02-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.9 KB

In [5]:
df

                Open      High       Low     Close     Volume
Date
2023-01-31  101.1550  103.3484  101.1400  103.1300   66527253
2023-01-30  101.0900  101.7400   99.0100  100.5500   70691860
2023-01-27   99.5300  103.4850   99.5300  102.2400   87775614
2023-01-26   98.2350   99.4900   96.9200   99.2200   68523557
2023-01-25   92.5600   97.2400   91.5200   97.1800   94261570
...              ...       ...       ...       ...        ...
2018-02-08   71.4840   71.6875   67.5000   67.5250  170100620
2018-02-07   72.4500   73.0495   70.7575   70.7575  142705120
2018-02-06   68.0730   72.1995   67.5895   72.1420  221336380
2018-02-05   70.1310   72.9490   66.0360   69.5000  228542940
2018-02-02   73.8695   74.9000   70.7000   71.4975  220446440

[1257 rows x 5 columns]

In [8]:
df.head()

               Open      High     Low   Close    Volume
Date
2023-01-31  101.155  103.3484  101.14  103.13  66527253
2023-01-30  101.090  101.7400   99.01  100.55  70691860
2023-01-27   99.530  103.4850   99.53  102.24  87775614
2023-01-26   98.235   99.4900   96.92   99.22  68523557
2023-01-25   92.560   97.2400   91.52   97.18  94261570

In [11]:
df.tail()

               Open     High      Low    Close     Volume
Date
2018-02-08  71.4840  71.6875  67.5000  67.5250  170100620
2018-02-07  72.4500  73.0495  70.7575  70.7575  142705120
2018-02-06  68.0730  72.1995  67.5895  72.1420  221336380
2018-02-05  70.1310  72.9490  66.0360  69.5000  228542940
2018-02-02  73.8695  74.9000  70.7000  71.4975  220446440

In [12]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [13]:
df.columns = [col.lower() for col in df.columns]

In [14]:
df.head()

               open      high     low   close    volume
Date
2023-01-31  101.155  103.3484  101.14  103.13  66527253
2023-01-30  101.090  101.7400   99.01  100.55  70691860
2023-01-27   99.530  103.4850   99.53  102.24  87775614
2023-01-26   98.235   99.4900   96.92   99.22  68523557
2023-01-25   92.560   97.2400   91.52   97.18  94261570

In [15]:
 df.describe()

              open         high          low        close        volume
count  1257.000000  1257.000000  1257.000000  1257.000000  1.257000e+03
mean    120.425727   121.885329   118.804328   120.353497  8.628644e+07
std      35.105422    35.471444    34.693312    35.040154  4.048048e+07
min      67.300000    69.174500    63.296500    66.980000  1.762674e+07
25%      89.400500    90.049000    88.351500    89.325000  5.897420e+07
50%     108.104000   110.781000   106.324200   108.000000  7.496474e+07
75%     158.338000   159.938000   156.250000   158.100000  1.018796e+08
max     187.200000   188.654000   184.840000   186.570000  3.113457e+08

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
open,1257.0,1.204257e+02,3.510542e+01,6.730000e+01,8.940050e+01,1.081040e+02,1.583380e+02,1.872000e+02
high,1257.0,1.218853e+02,3.547144e+01,6.917450e+01,9.004900e+01,1.107810e+02,1.599380e+02,1.886540e+02
low,1257.0,1.188043e+02,3.469331e+01,6.329650e+01,8.835150e+01,1.063242e+02,1.562500e+02,1.848400e+02
close,1257.0,1.203535e+02,3.504015e+01,6.698000e+01,8.932500e+01,1.080000e+02,1.581000e+02,1.865700e+02
volume,1257.0,8.628644e+07,4.048048e+07,1.762674e+07,5.897420e+07,7.496474e+07,1.018796e+08,3.113457e+08

In [17]:
df = df.head(10)
df

               open      high       low   close    volume
Date
2023-01-31  101.155  103.3484  101.1400  103.13  66527253
2023-01-30  101.090  101.7400   99.0100  100.55  70691860
2023-01-27   99.530  103.4850   99.5300  102.24  87775614
2023-01-26   98.235   99.4900   96.9200   99.22  68523557
2023-01-25   92.560   97.2400   91.5200   97.18  94261570
2023-01-24   96.930   98.0900   96.0000   96.32  66929452
2023-01-23   97.560   97.7800   95.8600   97.52  76501103
2023-01-20   93.860   97.3540   93.2025   97.25  67481539
2023-01-19   94.740   95.4400   92.8600   93.68  69002663
2023-01-18   97.250   99.3200   95.3800   95.46  79570370

In [18]:
df['open']

Date
2023-01-31    101.155
2023-01-30    101.090
2023-01-27     99.530
2023-01-26     98.235
2023-01-25     92.560
2023-01-24     96.930
2023-01-23     97.560
2023-01-20     93.860
2023-01-19     94.740
2023-01-18     97.250
Name: open, dtype: float64

In [19]:
df.open

Date
2023-01-31    101.155
2023-01-30    101.090
2023-01-27     99.530
2023-01-26     98.235
2023-01-25     92.560
2023-01-24     96.930
2023-01-23     97.560
2023-01-20     93.860
2023-01-19     94.740
2023-01-18     97.250
Name: open, dtype: float64

In [20]:
df[['open']]

               open
Date
2023-01-31  101.155
2023-01-30  101.090
2023-01-27   99.530
2023-01-26   98.235
2023-01-25   92.560
2023-01-24   96.930
2023-01-23   97.560
2023-01-20   93.860
2023-01-19   94.740
2023-01-18   97.250

In [21]:
df[['open','close']]

               open   close
Date
2023-01-31  101.155  103.13
2023-01-30  101.090  100.55
2023-01-27   99.530  102.24
2023-01-26   98.235   99.22
2023-01-25   92.560   97.18
2023-01-24   96.930   96.32
2023-01-23   97.560   97.52
2023-01-20   93.860   97.25
2023-01-19   94.740   93.68
2023-01-18   97.250   95.46

In [23]:
df.iloc[:,[0,3]]

               open   close
Date
2023-01-31  101.155  103.13
2023-01-30  101.090  100.55
2023-01-27   99.530  102.24
2023-01-26   98.235   99.22
2023-01-25   92.560   97.18
2023-01-24   96.930   96.32
2023-01-23   97.560   97.52
2023-01-20   93.860   97.25
2023-01-19   94.740   93.68
2023-01-18   97.250   95.46

In [25]:
df.iloc[:, 3:5]

             close    volume
Date
2023-01-31  103.13  66527253
2023-01-30  100.55  70691860
2023-01-27  102.24  87775614
2023-01-26   99.22  68523557
2023-01-25   97.18  94261570
2023-01-24   96.32  66929452
2023-01-23   97.52  76501103
2023-01-20   97.25  67481539
2023-01-19   93.68  69002663
2023-01-18   95.46  79570370

In [26]:
df.iloc[:, -1]

Date
2023-01-31    66527253
2023-01-30    70691860
2023-01-27    87775614
2023-01-26    68523557
2023-01-25    94261570
2023-01-24    66929452
2023-01-23    76501103
2023-01-20    67481539
2023-01-19    69002663
2023-01-18    79570370
Name: volume, dtype: int64

In [27]:
df.iloc[:, [-1]]

              volume
Date
2023-01-31  66527253
2023-01-30  70691860
2023-01-27  87775614
2023-01-26  68523557
2023-01-25  94261570
2023-01-24  66929452
2023-01-23  76501103
2023-01-20  67481539
2023-01-19  69002663
2023-01-18  79570370

In [28]:
df

               open      high       low   close    volume
Date
2023-01-31  101.155  103.3484  101.1400  103.13  66527253
2023-01-30  101.090  101.7400   99.0100  100.55  70691860
2023-01-27   99.530  103.4850   99.5300  102.24  87775614
2023-01-26   98.235   99.4900   96.9200   99.22  68523557
2023-01-25   92.560   97.2400   91.5200   97.18  94261570
2023-01-24   96.930   98.0900   96.0000   96.32  66929452
2023-01-23   97.560   97.7800   95.8600   97.52  76501103
2023-01-20   93.860   97.3540   93.2025   97.25  67481539
2023-01-19   94.740   95.4400   92.8600   93.68  69002663
2023-01-18   97.250   99.3200   95.3800   95.46  79570370

In [30]:
df.iloc[0]

open      1.011550e+02
high      1.033484e+02
low       1.011400e+02
close     1.031300e+02
volume    6.652725e+07
Name: 2023-01-31 00:00:00, dtype: float64

In [31]:
df.iloc[:3]

               open      high     low   close    volume
Date
2023-01-31  101.155  103.3484  101.14  103.13  66527253
2023-01-30  101.090  101.7400   99.01  100.55  70691860
2023-01-27   99.530  103.4850   99.53  102.24  87775614

In [32]:
df.loc['2023-01-30']

              open    high    low   close    volume
Date
2023-01-30  101.09  101.74  99.01  100.55  70691860

In [34]:
df.loc['2023-01-20':'2023-01-30']

               open     high    low   close    volume
Date
2023-01-30  101.090  101.740  99.01  100.55  70691860
2023-01-27   99.530  103.485  99.53  102.24  87775614
2023-01-26   98.235   99.490  96.92   99.22  68523557
2023-01-25   92.560   97.240  91.52   97.18  94261570
2023-01-24   96.930   98.090  96.00   96.32  66929452
2023-01-23   97.560   97.780  95.86   97.52  76501103