<a href="https://colab.research.google.com/github/yot85/data-science-bootcamp/blob/main/02_pandas/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
def fetch_financial_data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [ ]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2023-02-03 to 2018-02-06
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1258 non-null   float64
 1   High    1258 non-null   float64
 2   Low     1258 non-null   float64
 3   Close   1258 non-null   float64
 4   Volume  1258 non-null   float64
dtypes: float64(5)
memory usage: 59.0 KB

In [ ]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 942 entries, 2023-02-03 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    942 non-null    float64
 1   High    942 non-null    float64
 2   Low     942 non-null    float64
 3   Close   942 non-null    float64
 4   Volume  942 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 44.2 KB

In [ ]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [ ]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2023-02-03      148.03      157.38     147.83       154.50  154357337.00
2023-02-02      148.90      151.18     148.17       150.82  118338980.00
2023-02-01      143.97      146.61     141.32       145.43   77663633.00
2023-01-31      142.70      144.34     142.28       144.29   65874459.00
2023-01-30      144.96      145.55     142.85       143.00   64015274.00

In [ ]:
df = pd.concat(objs=[apple, amazon, google, uber], axis = 1)

In [ ]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1258.00,98.54,46.34,34.74,50.18,106.74,142.36,181.58
apple_high,1258.00,99.76,46.94,35.16,50.60,108.93,144.16,181.88
apple_low,1258.00,97.39,45.73,34.26,49.70,104.99,140.75,178.09
apple_close,1258.00,98.63,46.36,34.31,50.28,107.00,142.62,180.96
apple_volume,1258.00,118114746.65,56199853.01,35195860.00,79934617.01,103087039.85,139489696.59,434708544.96
amazon_open,1258.00,120.47,35.05,67.30,89.42,108.11,158.33,187.20
amazon_high,1258.00,121.93,35.41,69.17,90.13,110.89,159.93,188.65
amazon_low,1258.00,118.85,34.63,63.30,88.37,106.35,156.22,184.84
amazon_close,1258.00,120.40,34.98,66.98,89.40,108.22,158.09,186.57
amazon_volume,1258.00,86165380.96,40171542.46,17626740.00,58986000.00,74979950.00,101844015.00,311345660.00
google_open,1258.00,86.40,30.55,49.22,59.15,75.06,112.62,151.25
google_high,1258.00,87.37,30.84,50.61,59.74,76.00,114.01,151.55
google_low,1258.00,85.43,30.20,48.88,58.56,74.45,111.44,148.90
google_close,1258.00,86.42,30.51,49.23,59.16,75.42,112.70,149.84
google_volume,1258.00,35267605.40,15823940.03,9312760.00,25160045.00,31440440.00,40279135.00,133177100.00
uber_open,942.00,37.26,9.83,15.96,29.70,34.79,44.20,63.25
uber_high,942.00,38.03,9.90,17.80,30.40,35.41,44.92,64.05
uber_low,942.00,36.42,9.67,13.71,29.12,33.97,43.39,60.80
uber_close,942.00,37.23,9.76,14.82,29.74,34.69,44.00,63.18
uber_volume,942.00,25414635.97,16432718.93,3380003.00,15684348.00,21764735.00,30390437.25,186322536.00

In [ ]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.36,0.77,0.78,0.77,0.77,-0.30,0.93,0.93,0.92,0.93,-0.14,0.09,0.09,0.09,0.09,0.10
apple_high,1.00,1.00,1.00,1.00,-0.35,0.77,0.78,0.77,0.77,-0.29,0.93,0.93,0.92,0.93,-0.14,0.08,0.08,0.08,0.08,0.11
apple_low,1.00,1.00,1.00,1.00,-0.37,0.78,0.78,0.77,0.77,-0.30,0.93,0.93,0.93,0.93,-0.15,0.09,0.09,0.09,0.09,0.10
apple_close,1.00,1.00,1.00,1.00,-0.36,0.77,0.78,0.77,0.77,-0.30,0.93,0.93,0.93,0.93,-0.14,0.08,0.09,0.09,0.09,0.10
apple_volume,-0.36,-0.35,-0.37,-0.36,1.00,-0.22,-0.22,-0.23,-0.23,0.58,-0.41,-0.41,-0.42,-0.41,0.50,-0.18,-0.17,-0.20,-0.18,0.24
amazon_open,0.77,0.77,0.78,0.77,-0.22,1.00,1.00,1.00,1.00,-0.26,0.79,0.79,0.79,0.79,-0.15,0.59,0.59,0.59,0.59,-0.03
amazon_high,0.78,0.78,0.78,0.78,-0.22,1.00,1.00,1.00,1.00,-0.25,0.80,0.79,0.80,0.80,-0.15,0.58,0.58,0.58,0.58,-0.03
amazon_low,0.77,0.77,0.77,0.77,-0.23,1.00,1.00,1.00,1.00,-0.28,0.79,0.79,0.79,0.79,-0.17,0.60,0.60,0.60,0.60,-0.04
amazon_close,0.77,0.77,0.77,0.77,-0.23,1.00,1.00,1.00,1.00,-0.26,0.79,0.79,0.80,0.79,-0.16,0.59,0.59,0.59,0.59,-0.03
amazon_volume,-0.30,-0.29,-0.30,-0.30,0.58,-0.26,-0.25,-0.28,-0.26,1.00,-0.32,-0.32,-0.33,-0.33,0.58,-0.17,-0.17,-0.19,-0.18,0.24
google_open,0.93,0.93,0.93,0.93,-0.41,0.79,0.80,0.79,0.79,-0.32,1.00,1.00,1.00,1.00,-0.17,0.24,0.24,0.24,0.24,0.10
google_high,0.93,0.93,0.93,0.93,-0.41,0.79,0.79,0.79,0.79,-0.32,1.00,1.00,1.00,1.00,-0.16,0.23,0.24,0.24,0.23,0.10
google_low,0.92,0.92,0.93,0.93,-0.42,0.79,0.80,0.79,0.80,-0.33,1.00,1.00,1.00,1.00,-0.18,0.25,0.25,0.25,0.25,0.09
google_close,0.93,0.93,0.93,0.93,-0.41,0.79,0.80,0.79,0.79,-0.33,1.00,1.00,1.00,1.00,-0.17,0.24,0.24,0.24,0.24,0.10
google_volume,-0.14,-0.14,-0.15,-0.14,0.50,-0.15,-0.15,-0.17,-0.16,0.58,-0.17,-0.16,-0.18,-0.17,1.00,-0.16,-0.15,-0.18,-0.16,0.26
uber_open,0.09,0.08,0.09,0.08,-0.18,0.59,0.58,0.60,0.59,-0.17,0.24,0.23,0.25,0.24,-0.16,1.00,1.00,1.00,0.99,-0.22
uber_high,0.09,0.08,0.09,0.09,-0.17,0.59,0.58,0.60,0.59,-0.17,0.24,0.24,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.19
uber_low,0.09,0.08,0.09,0.09,-0.20,0.59,0.58,0.60,0.59,-0.19,0.24,0.24,0.25,0.24,-0.18,1.00,1.00,1.00,1.00,-0.24
uber_close,0.09,0.08,0.09,0.09,-0.18,0.59,0.58,0.60,0.59,-0.18,0.24,0.23,0.25,0.24,-0.16,0.99,1.00,1.00,1.00,-0.22
uber_volume,0.10,0.11,0.10,0.10,0.24,-0.03,-0.03,-0.04,-0.03,0.24,0.10,0.10,0.09,0.10,0.26,-0.22,-0.19,-0.24,-0.22,1.00

In [ ]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [ ]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [ ]:
df_closes = df[closes]

In [ ]:
df_closes.corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.77          0.93        0.09
amazon_close         0.77          1.00          0.79        0.59
google_close         0.93          0.79          1.00        0.24
uber_close           0.09          0.59          0.24        1.00

In [ ]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [ ]:
df_closes = df[closes]

In [ ]:
df_closes.corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.36,0.77,-0.30,0.93,-0.14,0.09,0.10
apple_volume,-0.36,1.00,-0.23,0.58,-0.41,0.50,-0.18,0.24
amazon_close,0.77,-0.23,1.00,-0.26,0.79,-0.16,0.59,-0.03
amazon_volume,-0.30,0.58,-0.26,1.00,-0.33,0.58,-0.18,0.24
google_close,0.93,-0.41,0.79,-0.33,1.00,-0.17,0.24,0.10
google_volume,-0.14,0.50,-0.16,0.58,-0.17,1.00,-0.16,0.26
uber_close,0.09,-0.18,0.59,-0.18,0.24,-0.16,1.00,-0.22
uber_volume,0.10,0.24,-0.03,0.24,0.10,0.26,-0.22,1.00

#Metoda Append()

In [ ]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-02-03      32.17      33.95     32.15       33.09     25804879
2023-02-02      32.42      33.47     32.42       33.05     32045470
2023-02-01      30.88      31.85     30.64       31.49     21206352
2023-01-31      29.75      30.96     29.74       30.93     15611532
2023-01-30      30.20      30.54     29.59       29.63     17969731

In [ ]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[85 rows x 5 columns]

In [ ]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[85 rows x 5 columns]

In [ ]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[170 rows x 5 columns]